<div class="row" ng-init="vm.carregarSalas()">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Salas Cadastrados</h4>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
                        <div class="form-group">
                            <div class="input-group">
                                <button type="button" class="btn btn-sm btn-success form-control" ng-click="vm.cadastrarSala()">
                                    <i class="fa fa-plus" aria-hidden="true" title="Cadastrar novo sala"></i>Cadastrar Sala
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                            <input type="text" ng-model="search" class="form-control" placeholder="Pesquisar sala" aria-label="Pesquisar sala" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Tipo</th>
                                <th>Nome</th>
                                <th>Ramal/CNPJ</th>
                                <th>Horário Funcionamento</th>
                                <th>Valor Hora</th>
                                <th>Quant. Estações</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sala in vm.salas | filter : search | orderBy: 'nome'">
                                <td>
                                    <span ng-hide="sala.estaLivre">Ocupada</span>
                                    <span ng-hide="!sala.estaLivre">Livre</span>
                                </td>
                                <td>{{sala.tipoSala}}</td>
                                <td>{{sala.nome}}</td>
                                <td>{{sala.ramal}}</td>
                                <td>{{sala.horarioInicial | date: 'HH:mm'}} às {{sala.horarioFinal | date: 'HH:mm'}}</td>
                                <td>{{sala.valorHora | currency : "R$": 2}}</td>
                                <td>{{sala.quantidadeEstacoes}}</td>
                                <td>
                                    <i class="fa fa-pencil text-primary m-1" aria-hidden="true" title="Atualizar dados da sala" ng-click="vm.updateSala(sala)"></i>
                                    <i class="fa fa-trash-o text-danger" aria-hidden="true" title="Excluir sala" ng-click="vm.deletarSala(sala)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>