<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <a class="navbar-brand" ui-sref="app">Coworking System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref="cliente">Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="sala">Sala</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="faturamento">Faturamentos</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" ui-sref="pagamento">Pagamentos</a>
      </li>
    </ul>
  </div>
</nav>