<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{vm.title}}</h4>
        <form class="form-sample">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nome
                            <b class="text-danger">*</b>
                        </label>
                        <input type="text" ng-model="vm.pacoteHora.nome" class="form-control" placeholder="Informe o nome">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Sala
                            <b class="text-danger">*</b>
                        </label>
                        <select ng-model="vm.pacoteHora.sala" class="form-control form-control-sm" ng-options="sala.nome for sala in vm.salas track by sala.id">
                            <option value="">Selecione a sala</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Quantidade/Horas
                            <b class="text-danger">*</b>
                        </label>
                        <input type="number" ng-model="vm.pacoteHora.quantidadeHoras" class="form-control" placeholder="Informe a quantidade/horas">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Valor
                            <b class="text-danger">*</b>
                        </label>
                        <input type="number" ng-model="vm.pacoteHora.valor" class="form-control" placeholder="Informe o valor">
                    </div>
                </div>
            </div>
            <div class="row pull-right">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <div class="input-group">
                            <button type="button" class="btn btn-sm btn-success form-control pr-5 pr-1" ng-click="vm.pacoteHora.atualizar ? vm.updatePacoteHora() : vm.cadastrarPacoteHora()">
                                <i class="fa fa-save"></i>
                                <span> {{vm.acao}}</span>
                            </button>
                            <button type="button" class="btn btn-sm btn-danger form-control ml-2" ng-click="vm.retornarListaPacotesHoras()">
                                <i class="fa fa-save"></i>
                                <span>Cancelar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>