<div class="row" ng-controller="Consumo">
    <div class="col-12">
        <h4 class="kan-title">Realizar Check-Out
        </h4>
    </div>
    <div class="col-12">
        <p class="d-inline">Sala:</p>
        <h6 class="d-inline">{{ngDialogData.nome}}</h6>
        <p class="d-inline">Cliente:</p>
        <h6 class="d-inline">{{ngDialogData.cliente}}</h6>
        <div class="col-md-6">
            <div class="form-group">
                <label>Horário
                    <b class="text-danger">*</b>
                </label>
                <input type="datetime-local" ng-model="ngDialogData.dataInicial" class="form-control">
            </div>
        </div>
    </div>
</div>