<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{vm.title}}</h4>
        <form class="form-sample">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-radio">
                        <label class="form-check-label">
                            <input type="radio" ng-model="vm.produtoServico.ehProduto" class="form-check-input" name="optionsRadios" id="optionsRadios3"
                                value="true"> Produto
                            <i class="input-helper"></i>
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-radio">
                        <label class="form-check-label">
                            <input type="radio" ng-model="vm.produtoServico.ehProduto" class="form-check-input" name="optionsRadios" id="optionsRadios1"
                                value="false"> Serviço
                            <i class="input-helper"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nome
                            <b class="text-danger">*</b>
                        </label>
                        <input type="text" ng-model="vm.produtoServico.nome" class="form-control" placeholder="Informe o nome">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Valor do Produto/Serviço
                            <b class="text-danger">*</b>
                        </label>
                        <input type="number" ng-model="vm.produtoServico.valor" class="form-control" placeholder="Informe o valor">
                    </div>
                </div>
            </div>
            <div class="row pull-right">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <div class="input-group">
                            <button type="button" class="btn btn-sm btn-success form-control pr-5 pr-1" ng-click="vm.produtoServico.atualizar ? vm.updateProdutoServico() : vm.cadastrarProdutoServico()">
                                <i class="fa fa-save"></i>
                                <span> {{vm.acao}}</span>
                            </button>
                            <button type="button" class="btn btn-sm btn-danger form-control ml-2" ng-click="vm.retornarListaProdutosServicos()">
                                <i class="fa fa-save"></i>
                                <span>Cancelar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>